@import "../../assets/Variables.scss";

.userLogin {
  form {
    @include flexCenter(.5rem);
    flex-direction: column;

    label {
      margin: 0 1rem;
      width: calc(100% - 2rem);
      display: flex;
      flex-direction: column;
      position: relative;

      input {
        accent-color: $accentColor;
      }

      #user-password {
        position: relative;
      }

      span {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateY(-20%);
        cursor: pointer;
        font-size: $fontSizeM;
      }
    }

    button {
      width: calc(100% - 2rem);

    }

  }

  .trenner {
    position: relative;

    display: grid;
    place-items: center;
    margin: 0 3rem;

    p {
      text-align: center;
      position: relative;
      width: fit-content;
      background-color: $backgroundColorLight;
      z-index: 1;
      padding: 0 .5rem;
      font-size: $fontSizeS;
    }

    div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      width: 100%;
      background-color: $primaryColor;
    }


  }

  .externalLogin {
    margin: 1rem;
    text-align: center;
    display: grid;
    place-items: center;

    > a {
      background-color: $primaryColor;
    }

    img {
      aspect-ratio: 1;
      width: 40%;
      border-radius: 50%;
    }

    > p {
      font-size: $fontSizeXL;
    }

    div button {
      border: none;
      background-color: inherit;
      cursor: pointer;

      i {
        font-size: calc($fontSizeXXL * 1.5);
      }

      &:active {
        scale: .9;
      }
    }

    .oAuthAnbieter {
      @include flexCenter(1rem)
    }
  }
}