@import "../../assets/Variables.scss";

.toolCard-comp {
  aspect-ratio: 1.25;
  height: max-content;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0 0 .25rem .25rem;
  box-shadow: 0 0 1.5rem -1rem;
  transition: all 250ms ease-in-out;


  article {
    color: $textColorDark;
    padding: 50% .5rem .5rem .5rem;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, $backgroundColorLight 90%);
    border-radius: .25rem;
    display: flex;
    align-items: flex-end;


    h5 {
      font-size: $fontSizeS;
    }


  }

  &:hover {
    box-shadow: 0 0 1.75rem -.5rem;


  }
}

/*
@media (prefers-color-scheme: dark) {
  .toolCard-comp {
    article {
      color: $textColorLight;
      background-image: linear-gradient(transparent, $backgroundColorDark 90%);
    }
  }
}*/
