@import "../../assets/Variables.scss";

.toolCard-comp {
  aspect-ratio: 1.25;
  height: max-content;
position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:  .25rem;
  outline: 1px solid $secondaryColor;
  transition: all 250ms ease-in-out;
  overflow: hidden;


  article {

    color: $textColorDark;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;


    h5 {
      position: absolute;
      bottom: 0;
      padding: .25rem;
      width: 100%;
      font-size: $fontSizeS;
      background-color: $backgroundColorLight;
      border-radius: .25rem .25rem 0 0 ;
    }


  }

  &:hover, &:focus-visible {
    box-shadow: 0 0 1.75rem -.5rem $secondaryColor;
  }
  &:focus-visible {
    scale: 1.05;
  }
}

