@import "./Variables.scss";

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 10px;

}

body, input, button, textarea {
  font-family: $fontFamily;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  @include aTag;
}

button {
  &:active {
    scale: .9;
  }
}

.dark-theme{
  background-color: rgba($backgroundColorDark, .75);
  color: $textColorLight;

  header .menu-toggle nav {
    background-color: rgb($backgroundColorDark, .85);
  }

  header .menu-toggle div .bar {
    background-color: $textColorMedium;
  }

}

.light-theme {
  background-color: $backgroundColorLight;
  color: $textColorDark;
  header .menu-toggle nav {
    background-color: rgb($backgroundColorLight, .95);
  }

}

