@import "../../assets/Variables.scss";

.addToolPage {
  font-family: $fontFamily;
  height: 100%;
  width: 100%;
  @include flexCenter(0);
  flex-direction: column;
  justify-content: flex-start;

  form {
    @include flexCenter(1rem);
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    label {
      width: 100%;

      input, select, textarea {
        font-family: $fontFamily;
        width: 100%;
        padding: .5rem 1rem;
        accent-color: $accentColor;
      }

      img {
        width: 80%;
        max-height: 10rem;
        object-fit: contain;
      }
    }

    .addTool-strasse {
      width: 100%;
      display: grid;
      grid-template-columns: 8fr 2fr;
    }
  }
}