@import "../../assets/Variables.scss";

.addToolPage {
  font-family: $fontFamily;
  height: 100%;
  width: 100%;
  @include flexCenter(0);
  flex-direction: column;


  form {
    @include flexCenter(1rem);
    flex-direction: column;
    background-color: $backgroundColorMedium;
    text-align: center;
    padding: 3rem;

    label {
      input, select {
        font-family: $fontFamily;
        width: 200px;
        padding: .5rem 1rem;
        accent-color: $accentColor;
      }
    }
  }

  section {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;

    p {
      text-align: center;
    }
  }
}