@import "../../assets/Variables.scss";

.latestTool {
  height: 100%;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .25rem;

    a {
      font-size: $fontSizeS;
      text-decoration: underline;
    }
  }

  > div:last-of-type {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    overflow: hidden;

    div {
      height: 100%;
      width: 100%;
      background: linear-gradient(transparent, rgba($backgroundColorDark, .9) 90%);
      color: $textColorLight;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: .5rem;

      h6 {
        font-size: $fontSizeXXL;
      }

      p {
        font-size: $fontSizeS;
        color: $textColorMedium;
      }
    }
  }
}