@import "../../assets/Variables.scss";

footer {
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $backgroundColorLight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $fontSizeS;

  p {
    color: rgba($textColorDark, .5);
  }

  div {

    a {


      &:first-of-type {
        color: $primaryColor;
      }

      &:last-of-type {
        color: $secondaryColor;
      }
    }

    span {
      color: $textColorDark;
    }

  }
}