@import "../../assets/Variables.scss";

.toolGallery-page {
  display: flex;
  flex-direction: column;
>a {
@include flexCenter(0)

}

  }
  section {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }
