@import "../../assets/_Variables.scss";

header {
  background-color: $backgroundColorLight;
  @include flexCenter(0);
  justify-content: space-between;
  padding: .25rem;
  height: $headerHeight;

  width: 100%;


  div {
    @include flexCenter(.5rem);

    img {
      min-width: 3rem;
      width: 20vw;
      max-width: 5rem;
    }

    h1 {
      font-size: $fontSizeXL;

    }
  }

  .menu-toggle {
    position: relative;
    height: fit-content;
    aspect-ratio: 1/1;


    div {
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;

      .bar {

        background-color: $textColorDark;
        height: .15rem;
        width: 2rem;
        transition: all 500ms ease-in-out;
        right: 0;

      }
    }

    nav {
      visibility: hidden;
      position: absolute;
      top: 2rem;
      right: 0;
      min-width: max-content;
      width: 75vw;
      height: calc(100vh - $headerHeight);
      z-index: 2;

      border: 2px solid $backgroundColorMedium;
      outline: 1px solid $backgroundColorLight;

      background-color: $backgroundColorLight;
      transition: all 250ms ease-in-out;
      transform: scaleY(0);
      transform-origin: top;
      @include flexCenter(0);
      flex-direction: column;
      justify-content: space-between;

      ul {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        list-style: none;
        padding: 2rem 1rem;
        font-size: $fontSizeL;
        height: 100%;
        width: 100%;

        &:first-of-type {
          justify-content: flex-start;
          flex-direction: column;
        }

        &:last-of-type {
          justify-content: space-evenly;
          flex-direction: row;
        }

        li {
          a {
            @include aTag;


            &:hover {
              text-decoration: underline;

            }
          }

          i {
            font-size: calc($fontSizeXXL * 1.5);
            transition: color 250ms ease-in-out;

            &:hover {
              color: $accentColor;
            }

            &:active {
              scale: .9;
            }
          }
        }
      }
    }


  }


  .open {

    nav {
      transform: scaleY(1);
      visibility: visible;

    }

    .bar {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg);

      }

      &:nth-child(2) {
        transform: scale(0) translateX(5px);


      }

      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);

      }
    }
  }


}

header.open {

  + * {
    filter: blur(2px) grayscale(.75);
  }
}
