@import "../../assets/Variables.scss";

.favoriteCategories-comp {
  margin: 2rem 0;

  div {

    background-color: $secondaryColor;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .25rem .5rem;
    padding: .5rem;

    a {
      width: 100%;
      height: 100%;

      div {
        height: max-content;
      }

      p {
        font-size: $fontSizeM;
        color: $textColorLight;
      }
    }
  }
}