@import "../../assets/Variables.scss";

.favoriteCategories-comp {
  margin: 2rem 0;

  div {

    background-color: $textColorMedium;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
    padding: .5rem;

    div {
      background-color: rgba($primaryColor, .5);
    }
  }
}