@import "../../assets/Variables.scss";

.CategoryPage {
  width: 100%;


  h2 {
    height: 5rem;
    padding: 0 1rem;
    font-size: $fontSizeXL;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: $textColorLight;
    text-shadow: 0 0 15px $textColorDark;
  }

  a {
    margin: 1rem 1rem 0 1rem;
    width: calc(100% - 2rem)
  }

  p {
    font-size: $fontSizeM;
    margin: 1rem;
  }
}